header {
	padding: 30px 30px;
	background-color: #555555;
	color: #FFF;
}
.link{
	color: 	#FFFFFF;
}
.head_form {
	display: inline;
}

.hdiv {
	float: right;
}
.divMsg{
	top: 3px;
	float: right;
}
.errorMsg{
	top: 1px;
	font-size: 2pt;
	color: #ff0000;
}

