section {
	padding: 50px;
}

article {
	padding: 0px 50px;
}

h2 {
	line-height:5%;
	display: inline;
}

h5 {
	line-height:5%;
}

table {
	border-collapse: collapse;
}

td {
	border: solid 1px;
}

textarea {
	width: 100%;
}

.form_back {
	display: inline;
	float: right;
}

.btn_back {
	border-radius: 6px;
	width: 110%;
}

.btn_base {
	float: right;
	border-radius: 6px;
	width: 60px;
	color: white;
}

.btn_delete {
	background-color: red;
}

.btn_submit {
	background-color: green;
}

.td_haed {
	padding: 5px 10px;
	background-color: #EEEEEE;
}

.td_content {
	padding: 5px 15px;
}