.managementuser{
	margin-left: 50px;
	position: relative;
	margin-top: 50px;
}

.back_to_list{
	float: right;
	margin-right: 50px;
}

.user_table{
	border-collapse: collapse;
	width: 93%;
	border: solid 1px black;
	margin-left: 50px;
	margin-right: 50px;

}
table th, table td {
	text-align: left;
	border: solid 1px ;
}

.mailbox{
	width: 94%;
	margin:5px;
	padding:5px;
}

.namebox{
	width: 91%;
	margin:5px;
	padding:5px;
}

.admin_flg{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	margin:auto;
}

.add_button{
	width:80px;
	height:30px;
	float: left;
	margin-left: 25px;
	background-color:#00F;
	border-radius:5px;
	border : #136FFF;
	color :#fff;
}

.edit_button{
	width:80px;
	height:30px;
	float: left;
	margin-left: 25px;
	background-color:#C0C0C0;
	border-radius:5px;
	border : #136FFF;
	color :#fff;
}

.delete_button{
	width:80px;
	height:30px;
	float: right;
	margin-right: 25px;
	background-color:#FF0000;
	border-radius:5px;
	border : #136FFF;
	color :#fff;
}
