
.threadList{
	margin-left: 50px;
	position: relative;
	margin-top: 50px;
}

.deleteMessage{
	margin-left: 50px;
	color :#00ffff;
}

.createNewThreadButton{
	margin-left: 50px;
	color :#fff;
}

.createNewThread{
	width:80px;
	height:30px;
	background-color: #00ff40;
	color :#fff;
	border-radius:5px;
	border-color : #11ff51;
}

.updateThread{
	width:80px;
	height:30px;
	background-color: #ff8000;
	color :#fff;
	border-radius:5px;
	border-color : #ff8111;
}

.deleteThread{
	width:80px;
	height:30px;
	background-color: #ff0000;
	color :#fff;
	border-radius:5px;
	border-color : #ff1111;
}

.row-button{
	width: 200px;
}

.channel_table{
	width: 90%;
	margin-left: 50px;
	border : solid #ccc;
}
table th, table td {
	text-align: left;
	border: solid 1px #ccc;
}