.update_message{
	margin-left: 50px;
}

.update_knowledgemessage{
	margin-left: 50px;
}

.update_button{
	text-align: center;
	color :#fff;
}

.update_button2{
	background-color: #005FFF;
	color :#fff;
	border-radius:5px;
	border : #136FFF;
}

.update_textbox{
	text-align: center;
}

.update_select{
	text-align: center;
}

